[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
ipdb = "*"

[packages]
django = "*"
nltk = "*"
gensim = "*"
pyemd = "*"
xhtml2pdf = "*"

[requires]
python_version = "3.6"
