{%extends "base.html"%}

{% block div_style %}
style="background-color:#113f67; height: 100%;"
{% endblock %}
{% block body_style %}
style="height: 100% !important;"
{% endblock %}

{% block content %}


<div class="col-xs-12 col-sm-4 d-flex flex-column justify-content-center align-items-center rounded" style="background-color:#5b92c8;">

    <form method="post" style="text-align: center; padding-top: 10%; padding-bottom: 10%;">

        {% load static %}
        <img src="{% static "/images/logo_hollow.png" %}" alt="CVolve Logo">

        <h1 class="p-2 text-over-bg" style="font-weight: bold;">Welcome to CVolve</h1>

        <hr/>

        {% csrf_token %}

        <div class="form-group">
            <input id="id_username" type="text" name="username" class="form-control form-register rounded-form" placeholder="Username">
            <input id="id_password" type="password" name="password" class="form-control form-register rounded-form" placeholder="Password">
        </div>

        <div class="form-group">
            <a href="{% url 'signup' %}" class="href href-cvolve">Not yet registered in CVolve? Sign Up</a>
        </div>

    
        <button class="btn btn-primary btn-cvolve" type="submit">
            Sign In
        </button>
        
    </form>
</div>
{% endblock %}