{%extends "base.html"%}

{% load distance_to_percentage %}
{% block outer_body %}

<nav class="navbar navbar-expand-lg navbar-cvolve">
  {% load static %}
  <a class="navbar-brand" href="/"><img src="{% static "/images/logo_hollow_with_tagline_dark.png" %}" style="height:3em" alt="CVolve Logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <div class="nav-item active">
        <a href="{% url 'logout' %}" ><button class="btn btn-secondary" style="background-color:#226597"> Log Out </button></a>
    </div>
  </div>
</nav>

{% endblock %}

{% block div_style %}
style="background-color:#226597; height:inherit; min-height:100%"
{% endblock %}

{% block content %}

<div class="row col-xs-12 col-sm-10 d-flex flex-row justify-content-center">
    
    <div class="card card-offer-detail">
      <div class="card-body">
                <h5 class="card-title font-weight-bold" style="float: right"> Match: {{ distance|distance_to_percentage }}% </h5>

        <h2 class="card-title font-weight-bold"> {{offer.title}} ({{offer.get_beauty_type}}) </h2>
        <h4 class="card-subtitle font-weight-bold"> {{offer.company}} - {{ offer.department }}</h4>


        <p class="card-text"> {{offer.city}} - {{offer.state}} - {{offer.country}} </p>
        <p class="card-text"> {{offer.description}} </p>
        
        <br>

        <label class="lbl-offer-detail">Responsibilities</label>

        <ul class="entry-content">
          {% for response_item in offer.get_responsibilites %}
            <li>{{response_item}}</li>
          {% endfor %}
        </ul>

        <br>

        <label class="lbl-offer-detail">Minimum Requirements</label>

        <ul class="entry-content">
          {% for min_requirements in offer.get_minimum_requirements %}
            <li>{{min_requirements}}</li>
          {% endfor %}
        </ul>

        {% if offer.get_preferred_requirements %}
            <br>

            <label class="lbl-offer-detail">Preferred Requirements</label>

            <ul class="entry-content" name="preferred_requirements">
              {% for pref_requirements in offer.get_preferred_requirements %}
                <li>"{{pref_requirements}}"</li>
              {% endfor %}
            </ul>

        {% endif %}
        
        <a href="#" class="btn btn-primary btn-cvolve-details">Apply</a>
      </div>
    </div>
    
</div>


{% endblock %}