{%extends "base.html"%}

{% block div_style %}
style="background-color:#113f67"
{% endblock %}

{% block content %}

<div>
    {% for offer in offers %}
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"> {{offer.title}} </h5>
        <h6 class="card-subtitle"> {{offer.company}} </h6>
        <p class="card-text"> {{offer.city}} - {{offer.country}} </p>
        <a href="#" class="btn btn-primary">See details</a>
      </div>
    </div>
    {% endfor %}
</div>


{% endblock %}